@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.sticky-header {
    position: sticky;
    top: 0;
    background-color: inherit;
    z-index: 1;
}

.sticky-header-done {
    position: sticky;
    top: 0;
    background-color: inherit;
}
